---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

const rustCollection = await getCollection('posts')

---

<Layout title="Welcome to Astro.">
	<main>
	<ul>
		{rustCollection.map((collection, idx) => {
			return <li>{collection.body}</li>
		})}
	</ul>
	</main>
</Layout>

<style>
	main {
		max-width: fit-content;
		margin: auto;
	}
	main > ul > li {
		font-size: 40px;
	}
</style>
